<%- include('includes/header') %> 
  <!-- header ends here -->
  
  <div class="container py-md-5 container--narrow">

    <%- include('includes/flash') %>

    <form action="/create-post" method="POST">

      <div class="form-group">
        <label for="post-date" class="text-muted mb-1"><small>Date (Jan 01 |2020)</small></label>
        <input required name="date" id="post-date" class="form-control form-control-md" type="date" placeholder="" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="post-title" class="text-muted mb-1"><small>Title</small></label>
        <input required name="title" id="post-title" class="form-control form-control-md form-control-title" type="text" placeholder="" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="post-short_desc" class="text-muted mb-1"><small>Short Description</small></label>
        <input required name="short_desc" id="post-short_desc" class="form-control form-control-sm" type="text" placeholder="" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="post-body" class="text-muted mb-1"><small>Long Description</small></label>
        <p class="text-muted mb-1"><small><strong>Note:</strong> Long description supports Markdown. Find the markdown cheatsheet <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">here</a></small></p>
        <textarea rows="5" required name="body" id="post-body" class="body-content form-control" type="text"></textarea>
      </div>

      <div class="form-group">
        <label for="post-venue" class="text-muted mb-1"><small>Venue</small></label>
        <input required name="venue" id="post-venue" class="form-control form-control-sm" type="text" placeholder="" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="post-participants" class="text-muted mb-1"><small>No Of Participants</small></label>
        <input required name="participants" id="post-participants" class="form-control form-control-sm" type="text" placeholder="" autocomplete="off">
      </div>
      <div class="form-group">
        <label for="post-url" class="text-muted mb-1"><small>Image URL</small></label>
        <input required name="url" id="post-url" class="form-control form-control-sm" type="text" placeholder="" autocomplete="off">
      </div>
      
      <button class="btn btn-primary">Save New Post</button>
    </form>
  </div>
  
  <%- include('includes/footer') %> 