<%- include('includes/header') %> 

<div class="container py-md-5">

  <%- include('includes/flash') %>

  <div class="row align-items-center">
    <div class="col-lg-7 py-3 py-md-5">
      <img class="offset-lg-2" style="border-radius:5%;" src="/img/about/about.png" height="300" width="400"/>
    </div>
    <div class="col-lg-5 pl-lg-5 pb-3 py-lg-5">
      <h1 class="strong display-3">IEEE SCT SB</h1>      
      <p class="lead text-muted">The admin panel for <a href="ieeesctsb.org">IEEE SCT SB</a></p>
    </div>
  </div>
</div>
  
<%- include('includes/footer') %> 