<%- include('includes/header') %> 
  <!-- header ends here -->
  
  <div class="container py-md-5 container--narrow">
    <%- include('includes/flash') %>
    <div class="text-center">
      <h2>Hello <strong><%= user.username %> </strong>, your feed is empty.</h2>
      <p class="lead text-muted">Your feed displays the latest posts. Write a <a href="/create-post">post</a> to get started</p>
    </div>  
  </div>
  
<%- include('includes/footer') %> 