<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>IEEE SCT SB </title>
    <meta name="description" content="ieee sct sb website">
    <meta name="robot" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
    <script>
    	$(document).on("scroll", function() {
  var pageTop = $(document).scrollTop();
  var pageBottom = pageTop + $(window).height();
  var tags = $(".tag");

  for (var i = 0; i < tags.length; i++) {
    var tag = tags[i];

    if ($(tag).position().top < pageBottom) {
      $(tag).addClass("visible");
    } else {
      $(tag).removeClass("visible");
    }
  }
});
    </script>
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>

<div class="header" color="#0066A1" style="background-color:#0066A1" align="center" height="auto">
        <div class=".container" style="top: 0px; height: 56px; position: relative; visibility: visible;">
            <nav>
<a href="https://www.ieee.org/" target="_blank"><font color="white" face="times new roman" size="4">IEEE.org</font></a><font color="white">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</font>
<a href="http://ieeexplore.ieee.org/Xplore/home.jsp" target="_blank"><font color="white" face="times new roman" size="4">IEEE Xplore Digital Library</font></a><font color="white">&nbsp;&nbsp;|&nbsp;&nbsp;</font>
<a href="http://standards.ieee.org/" target="_blank"><font color="white" face="times new roman" size="4">IEEE Standards</font></a><font color="white">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</font>
<a href="https://spectrum.ieee.org/" target="_blank"><font color="white" face="times new roman" size="4">IEEE Spectrum</font></a><font color="white">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</font>
<a href="https://ieeekerala.org/" target="_blank"><font color="white" face="times new roman" size="4">IEEE Kerala Section</font></a><font color="white">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</font>
<a href="http://www.ieeer10.org/" target="_blank"><font color="white" face="times new roman" size="4">IEEE Region 10</font></a><font color="white">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</font>
<a href="https://www.ieee.org/sitemap.html" target="_blank"><font color="white" face="times new roman" size="4">More Sites</font></a>
            </nav>
        </div>
    </div>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
     <header role="banner">

      <div class="header-area ">
            <div id="sticky-header" class="main-header-area white-bg">
                <div class="container">
                    <div class="row align-items-center justify-content-between no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="index.html">
                                    <img src="img/logo.png" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-5">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="index.html"><font face="Times New Roman" size="3">home</font></a></li>
                                        <li><a class="active"><font face="Times New Roman" size="3">ABOUT<i class="ti-angle-down"></i>
                                        </font></a>
                                                <ul class="submenu">
                                                <li><a href="about.html"><font face="Times New Roman" size="3">SB</font></a></li>
                                                <li><a href="execom2020.html"><font face="Times New Roman" size="3">EXECOM 2020</font></a></li>
                                                <li><a href="execom2019.html"><font face="Times New Roman" size="3">EXECOM 2019</font></a></li>
                                            </ul>
                                        </li>
                                        
                                         <li><a href="#"><font face="Times New Roman" size="3">SB CHAPTERS </font><i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="ias.html"><font face="Times New Roman" size="3">IAS</font></a></li>
                                                <li><a href="cs.html"><font face="Times New Roman" size="3">CS</font></a></li>
                                                <li><a href="pes.html"><font face="Times New Roman" size="3">PES</font></a></li>
                                                <li><a href="ras.html"><font face="Times New Roman" size="3">RAS</font></a></li>
                                                <li><a href="wie.html"><font face="Times New Roman" size="3">WIE</font></a></li>
                                                <li><a href="sight.html"><font face="Times New Roman" size="3">SIGHT</font></a></li>
                                            </ul>
                                        </li>   

                                        <li><a href="project.html"><font face="Times New Roman" size="3">events</font></a></li>
                                        <li><a href="Gallery.html"><font face="Times New Roman" size="3">Gallery</font></i></a>
                                        </li>

                                        <li><a href="contact.html"><font face="Times New Roman" size="3">Contact</font></a></li>
                                        <li>
                                            <div class="get_in_tauch">
                                                <a href="https://forms.gle/DpcY8Fwb9xAR4ei16" class="boxed-btn" style=" padding-top: 10px;margin-top: 2px; padding-bottom: 10px;padding-left: ; width: 98px;">
                                                Join IEEE
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider overlay2 d-flex align-items-center justify-content-center slider_bg_1" style="background-image: url(img/banner/002.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-10">
                            <div class="slider_text text-center">
                                <h3>IEEE SCT SB</h3>
                                <p><!-- add anything here --></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider overlay2 d-flex align-items-center justify-content-center slider_bg_1" style="background-image: url(img/banner/003.jpg)" >
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text text-left">
                                <h3>ADVANCING TECHNOLOGY <br>FOR HUMANITY</h3>
                                <p><!-- add anything here --></p>
                               <!-- this is abutton,use it for future (<a href="#" class="boxed-btn2">See Our Projects</a>)  -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider overlay2 d-flex align-items-center justify-content-center slider_bg_1" style="background-image: url(img/banner/001.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-10">
                            <div class="slider_text text-center">
                                <h3><!--We Design your space</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor</p> 
                                <a href="#" class="boxed-btn2">See Our Projects</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- about_area_start -->
   <section class="ftco-section ftco-no-pt ftco-no-pb tag" style="background-color: #f7f7f7;" data-aos="fade-up">
   	<div class="tag">
        <div class="container">
            <div class="row d-flex no-gutters">
                <div class="col-md-6 d-flex">
                    <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-end">
                       <img src="img/gif.gif" style="height:auto;max-width:100%;"></img>
                        
                    </div>
                </div>
                <div class="col-md-6 pl-md-5">
                    <div class="row justify-content-start py-5">
                  <div class="col-md-12 heading-section ftco-animate pl-md-4 py-md-4">
                    <span class="subheading"></span>
                    <h2 class="mb-4">About IEEE</h2>
                    <p><strong>IEEE is the world’s largest technical professional organization dedicated to advancing technology for the benefit of humanity.IEEE and its members inspire a global community to innovate for a better tomorrow through its more than 419,000 members in over 160 countries, and its highly cited publications, conferences, technology standards, and professional and educational activities. IEEE is the trusted “voice” for engineering, computing, and technology information around the globe.</strong></p>
                    <div class="tabulation-2 mt-4">
                                    <ul class="nav nav-pills nav-fill d-md-flex d-block">
                                      <li class="nav-item mb-md-0 mb-2">
                                        <a class="nav-link active py-2" data-toggle="tab" href="#home1">Mission</a>
                                      </li>
                                      <li class="nav-item px-lg-2 mb-md-0 mb-2">
                                        <a class="nav-link py-2" data-toggle="tab" href="#home2">Vision</a>
                                      </li>
                                      
                                    </ul>
                                    <div class="tab-content bg-light rounded mt-2">
                                      <div class="tab-pane container p-0 active" id="home1">
                                        <p>IEEE's core purpose is to foster technological innovation and excellence for the benefit of humanity.</p>
                                      </div>
                                      <div class="tab-pane container p-0 fade" id="home2">
                                        <p>IEEE will be essential to the global technical community and to technical professionals everywhere, and be universally recognized for the contributions of technology and of technical professionals in improving global conditions.</p>
                                      </div>
                                   </div>
                                </div>
                  </div>
                </div>
            </div>
        </div>
        </div></div>
    </section>
    <!-- about_area_end -->
    <section class="tag">
    <div class="">
    <div class="counting-sec">
      <div class="inner-width">
        <div class="col1">
          
          <div class="num">117</div>
          IEEE Members
        </div>

        <div class="col1">
          <i class="fas "></i>
          <div class="num">109</div>
          Student Members
        </div>

        <div class="col1">
          
          <div class="num">7</div>
          Professional Members
        </div>

        <div class="col1">
          
          <div class="num">1</div>
          Graduate Member
        </div>
      </div>
    </div>
  </div>


  <script type="text/javascript">
    $(".num").counterUp({delay:10,time:1000});
  </script>
</section>





    <!-- dream_service_start -->
    <section class="tag">
     <div class="dream_service tag" style="padding-top: 10px;padding-bottom: 10px; background-color: #f7f7f7; ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-95">
                        <span class="sub_heading">Our Team</span>
                        
                        <div class="hi"><div class="px-4"><h3>Meet Our SB</h3></div></div>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-5 tag">
                    <div class="single_dream text-center">
                        <div class="thumb">
                            <img src="img/execom/0.png" alt="">
                        </div>
                        <h3>Asha S</h3>
                        <h5>Counsellor</h5>
                        <p></p>
                           
                    </div>
                </div>
                <div class="col-xl-4 col-md-5 tag">
                    <div class="single_dream text-center"><div class="vl"> 
                        <div class="thumb">
                            <img src="img/execom/1.png" alt="">
                        </div>
                        <h3>Nikitha Susan Jose</h3>
                        <h5>Chairperson</h5>
                      <!--  <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua quis ipsum suspendisse.</p> -->
                    </div></div>
                </div>
                <div class="col-xl-4 col-md-5 tag">
                    <div class="single_dream text-center">
                        <div class="thumb">
                            <img src="img/execom/vcp.png" alt="">
                        </div>
                        <h3>Abhinav M S</h3>
                        <h5>Vice Chairperson</h5>
                        <!--<p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua quis ipsum suspendisse.</p> -->
                    </div>
                </div>
                <div class="col-xl-4 col-md-5 tag">
                    <div class="single_dream text-center">
                        <div class="thumb">
                            <img src="img/execom/lr.png" alt="lr">
                        </div>
                        <h3>Ananda Narayan</h3>
                        <h5>Link Rep</h5>
                        <!--<p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua quis ipsum suspendisse.</p> -->
                    </div>
                </div>
                    <div class="center">
                    <div class="single_dream text-center tag">
                        <div class="thumb">
                            <img src="img/execom/sec.png" alt="">
                        </div>
                        <h3>Govind S Nath</h3>
                        <h5>Secretary</h5>
                       <!-- <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua quis ipsum suspendisse.</p> -->
                     
                </div>

                
            </div>
                <div class="centerbutton tag">
                <div class="button_cont" align="center"><a class="example_b" href="execom2020.html" target="_blank" rel="nofollow noopener">full panel</a></div> </div>
           </div>
        </div>
    </div>
</section>

    

    <!-- Recent Events -->
    
    <!-- lastest_project_end -->


    <!-- SB CHAPTERS -->

   <section class="container" style="padding-top: 20px;">
   	<div class="tag">

    <div class="section-top-border">
                <div class="section_title text-center mb-20">
                        <span class="sub_heading">SB Chapetrs</span>
                        
                        <div class="hi"><div class="px-4"><h3>Our Families</h3></div></div>
                        
                    </div>
                <div class="row">
                    <div class="col-md-4 text-center os-init aos-init aos-animate tag">
                        <div class="single-defination">
                            <h4 class="mb-20"></h4>
                            <p><img src="img/sbc/pes.png"></img></p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center os-init aos-init aos-animate tag">
                        <div class="single-defination">
                            
                            <p><img src="img/sbc/cs.png"></img></p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center os-init aos-init aos-animate tag">
                        <div class="single-defination">
                            <h4 class="mb-20"></h4>
                            <p><img src="img/sbc/ras.png"></img></p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4 text-center os-init aos-init aos-animate tag">
                        <div class="single-defination">
                            <h4 class="mb-20"></h4>
                            <p><img src="img/sbc/ias.png"></img></p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center os-init aos-init aos-animate tag">
                        <div class="single-defination">
                            <h4 class="mb-20"></h4>
                            <p><img src="img/sbc/wie.png"></img></p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center os-init aos-init aos-animate tag">
                        <div class="single-defination">
                            <h4 class="mb-20"></h4>
                            <p><img src="img/sbc/sight.png"></img></p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </section>

    <!-- end od sb chapters   -->


    <!-- testmonial_area_start -->
    <section class="tag">
    <div class="testmonial_area testimonial_bg overlay2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                    	<div class="single_testmonial">
                            <div class="testmonial_info text-center">
                                <div class="author">
                                    <img src="img/testmonial/author.png" alt="">
                                </div>
                                <p></p>
                                <div class="author_name">
                                    <h4>Shanthi Teacher</h4>
                                    <span> Founding Advisor, IEEE SCT SB</span>
                                </div>
                            </div>
                        </div>
                        <div class="single_testmonial">
                            <div class="testmonial_info text-center">
                                <div class="author">
                                    <img src="img/testmonials/vk.png" alt="">
                                </div>
                                <br>
                                <h4>The IEEE SCT is a vibrant group of students focused around connecting young minds with technological enablers and their social networks . I have had the opportunity to being a part of its wonderful journey in 2011 as the chair and still feel it's momentum today. Its energy and vision shines through its strong collaboration and leadership.  

                                    <br> "Talent wins games, but teamwork and intelligence win championships." -- Michael Jordan.</h4>
                                <div class="author_name">
                                    <h4>-Vinu Kamalasanan</h4>
                                    <span> Former Chair, IEEE SCT SB</span>
                                </div>
                            </div>
                        </div>
                        <div class="single_testmonial">
                            <div class="testmonial_info text-center">
                                <div class="author">
                                    <img src="img/testmonials/alma.png" alt="">
                                </div>
                                <h4>IEEE SCT SB provided me with a platform to augment my professional and technical acuity. It not only helped me inculcate a profound interest in cutting-edge technologies but also surrounded me with countless networking opportunities. <br>IEEE SCT SB moves forward with the vision to serve as a bridge between students and technology. The SBC (George sir- 2015, 2016, 2017 & Asha teacher 2018, 2019) and the society advisors always acted as the backbone and played a pivotal role in steering us towards a common goal.<br>From being a volunteer to an organizer and finally bringing out the leader in me, IEEE SCT SB has influenced me as nothing ever has!</font> </h4>
                                <div class="author_name">
                                    <h4>Alma Anvar</h4>
                                    <span> Former Chair, IEEE SCT SB</span>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- testmonial_area_end -->

    <!-- messege_area_start -- <!-- messege_area_end -->

    <!-- footer_start -->
    <section>
    <footer class="footer footer_bg">
        <div class="footer_top">
            <div class="container-fluid p-0">
                <div class="row no-gutters ">
                    <div class="col-xl-3 col-12 col-md-4">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="index.html">
                                    <img src="img/logo.png" alt="">
                                </a>
                            </div>
                            <ul class="social_links">
                                <li>
                                    <a href="https://www.facebook.com/ieeesctsb"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/company/6439036"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/ieeesctsb/"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UC4fM1q35ytL7QeS5aXORzIQ"><i class="fa fa-youtube-play"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-9 col-12 col-md-8">
                        <div class="footer_header d-flex justify-content-between">
                            <div class="footer_header_left">
                                <h3>Want to know more about Us?</h3>
                                <p></p>
                            </div>
                            <div class="footer_btn">
                                <a href="https://www.instagram.com/ieeesctsb/" class="boxed-btn2">Contact Us</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="center">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3946.2966107844445!2d76.9772397142738!3d8.47051109981907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05baee56e6b99b%3A0x4ce024c88eb0ddcb!2sSree%20Chitra%20Thirunal%20College%20of%20Engineering%2C%20Thiruvananthapuram!5e0!3m2!1sen!2sin!4v1592475746654!5m2!1sen!2sin" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
                                    <div class="col-xl-4 col-12 col-md-4">
                                        
                                    </div>
                                    <div class=" ">
                                        <div class="footer_widget">
                                            <h3 class="footer_heading">
                                                Reach Us!!!
                                            </h3>
                                            <ul class="quick_links">
                                                <li><a href="#">+91 8547393808</a></li>
                                                <li><a href="mailto:mailtoieeesctcb@gmail.com"> mailtoieeesctcb@gmail.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_copy_right">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | The site is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by IEEE SCT SB</a>
</p>
        </div>
    </footer>
</section>
    <!-- footer_end -->


    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>

    <!--contact js-->
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>

    <script src="js/main.js"></script>

</body>

</html>