<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Events </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>

<div class="header" color="#0066A1" style="background-color:#0066A1" align="center" height="auto">
        <div class=".container" style="top: 0px; height: 56px; position: relative; visibility: visible;">
            <nav>
<a href="https://www.ieee.org/" target="_blank"><font color="white" face="times new roman" size="4">IEEE.org</font></a><font color="white">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</font>
<a href="http://ieeexplore.ieee.org/Xplore/home.jsp" target="_blank"><font color="white" face="times new roman" size="4">IEEE Xplore Digital Library</font></a><font color="white">&nbsp;&nbsp;|&nbsp;&nbsp;</font>
<a href="http://standards.ieee.org/" target="_blank"><font color="white" face="times new roman" size="4">IEEE Standards</font></a><font color="white">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</font>
<a href="https://spectrum.ieee.org/" target="_blank"><font color="white" face="times new roman" size="4">IEEE Spectrum</font></a><font color="white">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</font>
<a href="https://ieeekerala.org/" target="_blank"><font color="white" face="times new roman" size="4">IEEE Kerala Section</font></a><font color="white">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</font>
<a href="http://www.ieeer10.org/" target="_blank"><font color="white" face="times new roman" size="4">IEEE Region 10</font></a><font color="white">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</font>
<a href="https://www.ieee.org/sitemap.html" target="_blank"><font color="white" face="times new roman" size="4">More Sites</font></a>
            </nav>
        </div>
    </div>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
     <header role="banner">

      <div class="header-area ">
            <div id="sticky-header" class="main-header-area white-bg">
                <div class="container">
                    <div class="row align-items-center justify-content-between no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="index.html">
                                    <img src="img/logo.png" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-5">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="index.html"><font face="Times New Roman" size="3">home</font></a></li>
                                        <li><a class="active"><font face="Times New Roman" size="3">ABOUT<i class="ti-angle-down"></i>
                                        </font></a>
                                                <ul class="submenu">
                                                <li><a href="about.html"><font face="Times New Roman" size="3">SB</font></a></li>
                                                <li><a href="execom2020.html"><font face="Times New Roman" size="3">EXECOM 2020</font></a></li>
                                                <li><a href="execom2019.html"><font face="Times New Roman" size="3">EXECOM 2019</font></a></li>
                                            </ul>
                                        </li>
                                        
                                         <li><a href="#"><font face="Times New Roman" size="3">SB CHAPTERS </font><i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="ias.html"><font face="Times New Roman" size="3">IAS</font></a></li>
                                                <li><a href="cs.html"><font face="Times New Roman" size="3">CS</font></a></li>
                                                <li><a href="pes.html"><font face="Times New Roman" size="3">PES</font></a></li>
                                                <li><a href="ras.html"><font face="Times New Roman" size="3">RAS</font></a></li>
                                                <li><a href="wie.html"><font face="Times New Roman" size="3">WIE</font></a></li>
                                                <li><a href="sight.html"><font face="Times New Roman" size="3">SIGHT</font></a></li>
                                            </ul>
                                        </li>   

                                        <li><a href="project.html"><font face="Times New Roman" size="3">events</font></a></li>
                                        <li><a href="Gallery.html"><font face="Times New Roman" size="3">Gallery</font></i></a>
                                        </li>

                                        <li><a href="contact.html"><font face="Times New Roman" size="3">Contact</font></a></li>
                                        <li>
                                            <div class="get_in_tauch">
                                                <a href="https://forms.gle/DpcY8Fwb9xAR4ei16" class="boxed-btn" style=" padding-top: 10px;margin-top: 2px; padding-bottom: 10px;padding-left: ; width: 98px;">
                                                Join IEEE
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- breadcam_area_start -->
    <div class="breadcam_area bradcam_bg overlay2">
        <div class="bradcam_text">
            <h3>EVENTS</h3>
        </div>
    </div>
    <!-- breadcam_area_end -->

    <!-- lastest_project_strat -->
    <div class="lastest_project" style="background-color: #f7f7f7;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-60">
                        <span class="sub_heading"></span>
                        <h3>Events</h3>
                        
                    </div>
                </div>
            </div>
            <div class="row align-items-center mb-80" >
                <div class="col-xl-6 col-md-6">
                    <div class="single_project_thumb">
                        <img src="img/project/1.png" alt="">
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-md-6" >
                    <div class="section_title">
                        <span class="sub_heading2">February 1,2 | 2020</span>
                        <h4>Dhythi 3.0</h4>
                        <p>Dhyuthi is the flagship event of IEEE SCT SB. </p>
                        <a href="https://dhyuthi.bitbucket.io/" class="boxed-btn">View More</a>
                    </div>
                </div>
                <hr>
            </div>

            <div class="row align-items-center mb-80">
                <div class="col-xl-6 col-md-6">
                    <div class="section_title">
                        <span class="sub_heading2">June 9| 2020</span>
                        <h4>Webinar on Nuclear Energy</h4>
                        <p>Webinar on Nuclear Energy – The need, The perception, The reality conducted by the Power and Energy Society of IEEE SCT SB as a part of World Environment.</p>
                        <a href="nuclearpes.html" class="boxed-btn">View More</a>
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-md-6">
                    <div class="single_project_thumb">
                        <img src="project/nuclearpes.jpeg" alt="">
                    </div>
                </div>
            </div>
            <div class="row align-items-center mb-80">
                <div class="col-xl-6 col-md-6">
                    <div class="single_project_thumb">
                        <img src="project/careerguidance.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-md-6">
                    <div class="section_title">
                        <span class="sub_heading2">June 5 |2020</span>
                        <h4>Ignite Your Passion</h4>
                        <p>The SIGHT IEEE SCT SB conducted a webinar on “CAREER GUIDANCE” Ignite_Your_Passsion.The session was about choosing a career pathway depending upon our interests and was also about their scopes in the future.The talk was conducted by Dr. Rakesh Godhwani.It was conducted for 10, 11 & 12 standard students.</p>
                        <a href="iyp.html" class="boxed-btn">View More</a>
                    </div>
                </div>
            </div>
            <div class="row align-items-center mb-80">
                <div class="col-xl-6 col-md-6">
                    <div class="section_title">
                        <span class="sub_heading2">26 May| 2020</span>
                        <h4>Webinar on Cyber  Safety</h4>
                        <p>The WIE AG IEEE SCT SB conducted a webinar on ‘Cyber Safety and Smart Social Networking’.The talk was given by Mr. Milivoje Batista, founder of Atrom G8, who had previously been involved in various cyber security firms. </p>
                        <a href="cyber.html" class="boxed-btn">View More</a>
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-md-6">
                    <div class="single_project_thumb">
                        <img src="project/cybersec1.jpg" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<center>
<div style="background-color: #f7f7f7;">
  <div class="pagination">
  
  <a href="project.html" class="active">1</a>
  <a href="project2.html" >2</a>
  <a href="test.html">3</a>
  <a href="test.html">4</a>
  <a href="test.html">5</a>
  <a href="test.html">6</a>
  
  </div>
  </center>
    <!-- lastest_project_end -->

    <!-- testmonial_area_start -->
    

    <!-- messege_area_start -->
   
    <!-- messege_area_end -->

    <!-- footer_start -->
    <footer class="footer footer_bg">
        <div class="footer_top">
            <div class="container-fluid p-0">
                <div class="row no-gutters ">
                    <div class="col-xl-3 col-12 col-md-4">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="index.html">
                                    <img src="img/logo.png" alt="">
                                </a>
                            </div>
                            <ul class="social_links">
                                <li>
                                    <a href="https://www.facebook.com/ieeesctsb"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/company/6439036"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/ieeesctsb/"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UC4fM1q35ytL7QeS5aXORzIQ"><i class="fa fa-youtube-play"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-9 col-12 col-md-8">
                        <div class="footer_header d-flex justify-content-between">
                            <div class="footer_header_left">
                                <h3>Want to know more about Us?</h3>
                                <p></p>
                            </div>
                            <div class="footer_btn">
                                <a href="https://www.instagram.com/ieeesctsb/" class="boxed-btn2">Contact Us</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="center">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3946.2966107844445!2d76.9772397142738!3d8.47051109981907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05baee56e6b99b%3A0x4ce024c88eb0ddcb!2sSree%20Chitra%20Thirunal%20College%20of%20Engineering%2C%20Thiruvananthapuram!5e0!3m2!1sen!2sin!4v1592475746654!5m2!1sen!2sin" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
                                    <div class="col-xl-4 col-12 col-md-4">
                                        
                                    </div>
                                    <div class=" ">
                                        <div class="footer_widget">
                                            <h3 class="footer_heading">
                                                Reach Us!!!
                                            </h3>
                                            <ul class="quick_links">
                                                <li><a href="#">+91 8547393808</a></li>
                                                <li><a href="#"> mailtoieeesctcb@gmail.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_copy_right">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | The site is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by IEEE SCT SB</a>
</p>
        </div>
    </footer>
    <!-- footer_end -->


    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>

    <!--contact js-->
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>

    <script src="js/main.js"></script>

</body>

</html>